/*mystyles.css*/
@charset "utf-8";
/* CSS Document */
}
.row-header{
margin:0px auto;
padding:0px auto;
}
.row-content{
margin:0px auto;
padding:0px auto;
border-bottom:1px ridge;
min-height:150px;
}
.row-footer{
background-color:#AfAfAf;
margin:0px auto;
padding:0px auto;
}
.jumbotron{
margin:2px 0px 0px 0px;
padding-bottom: 0px;
}
.box .widget-user-header
 {
    top:1px;
    bottom: auto;
    height: 100%;    
 }
 .box .widget-user-header > a{
    color:#fff;
 }
 .box .widget-user-header > a:hover{
    color: #eeeeee;
 }
  .box .widget-user-image{
    top: 80%;
  }
  .box .box-body{
    top:1px;
    bottom: auto;
    height: 100%;
    padding: 0px;
  }
  .box .box-solid{
    padding-bottom: 0px;
    height: 100%;
  }
address{
font-size:80%;
margin:0px;
color:#0f0f0f;
}
textarea{
    resize: none;
}
.navbar .navbar-brand {
    padding-top: 10px!important;
}

.navbar .navbar-right {
    padding-top: 0px;
}

.navbar .navbar-right>li>.dropdown-menu:before,.navbar .nav>li>.dropdown-menu.navbar-right:before {
    right: 12px;
    left: auto;
}

.navbar .navbar-right>li>.dropdown-menu:after,.navbar .nav>li>.dropdown-menu.navbar-right:after {
    right: 13px;
    left: auto;
}

.navbar{
    min-height: 80px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: #FFFFFF;
    box-shadow: 1.5px 2.598px 7px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 1.5px 2.598px 7px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 1.5px 2.598px 7px 0px rgba(0,0,0,0.1);
    margin-bottom: 0;
    border-bottom-width: 0;
}
.navbar-inverse{
background: #303F9F;
}
.container>.navbar-header, .container-fluid>.navbar-header {
    height: 80px!important;
}
.navbar-nav .dropdown-menu {
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.navbar .nav>li>a {
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'ProximaNova-Regular',sans-serif;
    color: #2a2a2a;
    padding: 25px 10px 25px 10px;
}

.navbar .nav>li>a.btn-buy {
    background-color: #2196f3;
    color: #FFFFFF!important;
    padding: 0px 15px!important;
    height: 35px;
    line-height: 35px!important;
    margin-top: 20px;
    margin-left: 30px;
}

.navbar .nav>li>a.btn-buy:hover {
    background-color: #0c7cd5!important;
}

.navbar .nav>li>a i {
    font-size: 12px;
    padding-left: 5px;
}

.navbar .active {
    color: #2196f3;
}

.navbar .active a {
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
    background: transparent;
    color: #2196f3;
    outline: none!important;
}

.nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
    background: transparent!important;
    color: #2196f3!important;
    outline: none!important;
}

.dropdown-menu {
    border-width: 0;
    text-align: center;
    margin-top: 20px!important;
    border-radius: 3px!important;
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.dropdown-header{
background: #eee;
}
.dropdown-menu:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 11px 10px 11px;
    border-color: transparent transparent #FFFFFF transparent;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -8px;
}

.dropdown-menu li a {
    line-height: 26px;
    font-family: 'ProximaNova-Regular',sans-serif;
    border-bottom: 1px solid #eeeeee;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.dropdown-menu li a:hover {
    color: #2196f3;
    background: transparent;
}

.dropdown-menu li:last-child a {
    border-bottom-width: 0;
}
#navbar{
    max-height: 490px;
}
.sidenav{
    padding-top: 20px;
}
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.affix{
    top: 465px auto;
    bottom: 155px;    
}
.carousel-caption > h3{
    background: #0690B7;
    border-radius: 1px;
    display: inline-block;
    padding: 10px;
/*    background: #B9121B;
*/    border-top-left-radius: 10px;
    border-top-right-radius: 10px;}
.full-screen {
  background-size: cover;
  /*background-position: center;*/
  background-repeat: no-repeat;
}
#section2{
background-color: #1A237E;
}
#section3{

}
#label{
/*    background-color:azure;*/
    text-align: center;
    text-decoration-color: #000;
    font: 60px;
    font-size: 30px;
	padding:0px;
}
.image{
    position: relative;
    height:100%;
    width:100%;
}
#service{
    /*background-color:floralwhite;*/
}
.col{
    padding-top: 10px;
}
.button{
    text-align: center;
    padding-bottom: 2px;
}
#icon{
   font-size: 60px;
    padding-top: 0px;
    padding-left: 15px;
    position: relative;
	color:#2A9FFF;
}
.icon{
   font-size: 60px;
    padding-right: 0px;
    position: relative;
	color:#f4511e;
	/*text-align:left;*/
}
.portfolio
{
border: 2px solid transparent;
    margin-bottom: 25px;
    width: 50%;
    height: 50%;
    opacity: 0.7;
}
.portfolio:hover{
	 border-color: #f1f1f1;
}
.bg-1{
    background: #1abc9c;
    bottom: 8px;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.bg-2 {
    background: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3{
	background:silver;
}
.bg-4{
	background:#00DFFF;
	padding-bottom:10px;
}
.bg-4 a  h3{
	color:#FFF;
}
.col-sm-4 .col-sm-3{
	padding-left:1px;
	padding-right:1px;
}
.panel {
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
	border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}
.panel-heading h1{
    color: #FFF !important;
}
.panel-footer {
    background-color: #fff !important;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}
.nav-pills li a{
	color:#fff;
	font:20px "Montserrat", sans-serif;
    padding: 8px 4px 6px 4px;
    margin: 0px;
}
.panel-heading h1{
	font-size:40px;
}
.nav-pills li a:hover{
    color:#303F9F;
    background-color: #1abc9c;
}
.nav-pills > .open > a,
.nav-pills > .open > a:focus,
.navbar-nav .nav-pills li a:hover{
    background:#1abc9c;
}
.pic{
    height: 200px;
    width: 200px;
    margin: 0px auto;
    padding: 0px 0px 20px 0px;
    position: relative;
}
.row-footer{
background: #eee;    
}
.well{
    border-radius: 12px;
	color:#000;
	font:20px "Montserrat", sans-serif;;
}
.panel-heading h1{
	font-size:40px;
}
.loading {
        background: lightgoldenrodyellow url('{{asset('images/processing.gif')}}') no-repeat center 65%;
        height: 80px;
        width: 100px;
        position: fixed;
        border-radius: 4px;
        left: 50%;
        top: 50%;
        margin: -40px 0 0 -50px;
        z-index: 2000;
        display: none;
    }